.btn {
  position: relative;
  display: block;
  width: 100%;
  max-width: max-content;
  cursor: pointer;

  &--clear {
    width: auto;
    max-width: unset;
  }
  &--outline {
    padding: 5px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);

    @media (hover: hover) {
      &:hover {
        background-color: var(--primary-color);
        color: var(--inverted-primary-color);
      }
    }
  }
  &--error {
    padding: 5px 10px;
    border: 2px solid var(--inerted-theme-color);
    border-radius: 5px;
    color: var(--inerted-theme-color);

    @media (hover: hover) {
      &:hover {
        background-color: var(--inerted-theme-color);
        color: var(--theme-color);
      }
    }
  }

  svg, path {
    display: block;
    width: 100%;
    max-width: max-content;
    height: 100%;
  }
}