.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: var(--sidebar-width);
  padding: 20px 10px;
  background: var(--inverted-bg-color);
  transition: max-width 0.3s;

  &.collapsed {
    max-width: var(--sidebar-width-collapsed);
  }

  &__switchers {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
  }

  &__switchers-item {
    width: 50px;
  }
}